<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>
             <h2> {{desc}} </h2>

      </body>
</html>