<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
             <h2 class="hedt1"> {{title}} page  </h2>

             <div class="header1">
                 <a href="/"> HOME</a>
                 <a href="/checkweather"> WEATHER</a>
             </div>

      </body>
</html>